@import url('https://fonts.cdnfonts.com/css/monster-clubhouse');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

//fonts
$font-primary: 'Monster Clubhouse';
$font-secondary: 'Poppins';

//colors
$color-primary: #425966;
$color-secondary: #D84A4A;
$color-footer-one: #C2E3F3;
$color-footer-two: #6AA3C1;
$color-footer-text: #425966;

//Screens
$big-screen: 1280px;
$middle-screen: 768px;